<style>
  h5 {
    font-size: 11px; }
</style>
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="container w-50">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: false} }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row">
      <div class="col">
        <%# image %>
        <div class="row">
          <%= image_tag resource.image, class: 'w-75 rounded-circle d-block mx-auto' %>
        </div>
        <div class="form-field">
          <%= f.label :image, class: 'form-label' %><br>
          <%= f.text_field :image %>
        </div>
      </div>
      <div class="col fill">
        <%# username, email, password %>
        <div class="row">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="row">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>
        <div class="row">
          <%= f.label :password %> <h5>(leave blank if you don't want to change it)</h5>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><h5><%= @minimum_password_length %> characters minimum</h5></em>
          <% end %>
        </div>
        <div class="row">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="row">
          <%= f.label :current_password %> <h5>(we need your current password update your password or e-mail address)</h5>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>
    <div class="row fill">
      <%# description %>
      <div class="col">
        <%= f.label :descripton %>
        <%= f.text_area :description, class: 'form-control', rows: '4' %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-5"></div>
      <div class="col">
        <div class="row">
          <%= f.submit "Update", class: 'btn btn-primary btn-med' %>
        </div>
        <div class="row">
          <%= button_to "Cancel", edit_user_registration_path, class: 'btn btn-secondary btn-med' %>
        </div>
      </div>
      <div class="col-5"></div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>
  <% end %>
</div>
