<style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        height: 350;
        width: 300
      }
      .image {
        flex-basis: 30%
      }
      .text {
        font-size: 20px;
        padding-left: 20px;
      }
      .text2 {

        text-align: right;
      }
    </style>

<div class="max-w-lg mr-auto mt-16 text-center">


 <h1><%= @game.title %></h1>
 
</div>


<div class="container">
    <div class="image">
    <%= image_tag "covers/" + @game.image  %>
      </div>
    <div class="text">
          <%= @game.description%>
    </div>
    
  
    
</div>

<h1>Trades</h1>
 <div class="text2">
   <%= link_to 'Create New Listing', new_game_listing_path, class: 'btn btn-primary' %>
   </div>
<table class="table table-striped table-hover">
  <tbody>
    <% @listings.each do |listing| %>

      <tr>

        <td><%= listing.user.username%></td>
        <td><%= listing.user.username%></td>

        <td><%= link_to 'Make Offer', class: "btn btn-primary" %></td>
      </tr>
      <tr>
      <td><%="Description: "+ listing.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>