 
    <style> 
        header, .row {
        display: flex;
        }
    </style>
 
     <h3> <%= @listing.game.title %> </h3>
    <section>
        <header style="background-color:Grey; color:Black">
            <div class="col">Username</div>
            <div class="col">Game Name</div>
            <div class="col">Condition</div>
            <div class="col-4">Description</div>
            <div class="col"><!-- Accept --></div>
            <div class="col"><!-- Decline --></div>
        </header>
        <% @offers.each do |offer| %>
        <%= form_with model: offer, method: :patch, url: listing_offer_path(current_user.id, @listing, offer), data: { turbo: false } do |f| %>
            <div class="row">
            <% if offer.status=="active" %>
                <div class="col"><%=offer.owner.username %></div>
                <div class="col"><%=offer.game.title %></div>
                <div class="col"><%=offer.condition %></div>
                <div class="col-4"><%=offer.description %></div>
                <div class="col"><%=f.submit "Accept",  name: "status", class: 'btn btn-outline-secondary'%></div>
                <div class="col"><%=f.submit "Decline", name: "status",  class: 'btn btn-outline-secondary'%></div>
                <% end %>
                <% end %>
            </div>
        <% end %>
    </section>