 
 
 
         <h3> <%= @listing.game.title %> </h3>
        <table class="table table-striped">
            <thead class="table table-dark">
                <tr>
                    <th>Username</th>
                    <th>Game Name</th>
                    <th>Condition</th>
                    <th>Description</th>
                    <th><!-- Edit Listing --></th>
                    <th><!-- View Offers --></th>
                </tr>
            </thead>
            <tbody>
                <% @offers.each do |offer| %>
                    <tr>
                    <% if offer.status!="declined" %>
                        <td><%= offer.owner.username %></td>
                        <td><%= offer.game.title %></td>
                        <td><%= offer.condition %></td>
                        <td><%= offer.description %></td>
                        <td><%= offer.status %></td>

                        <%= form_with model: offer, method: :patch, url: listing_offer_path(offer.owner, @listing, offer), data: { turbo: false } do |f| %>
                        <td><%= f.submit "Accept",  name: "status", class: 'btn btn-outline-secondary'%></td>
                        <td><%= f.submit "Decline", name: "status",  class: 'btn btn-outline-secondary'%></td>
                        <% end %>

                    </tr>
                    <% end %>

                <% end %>
            </tbody>
       </table>