<div class="container text-center w-50 mx-auto">
  <h1> New Game Listing</h1>
  <h3><%=@game.title%></h3>
  <%= image_tag "covers/" + @game.image, size: '400x520' %>

  <div class="row gap-2">
    <div class="form-control row border-0">
      <%= render "games/search_form" %>
    </div>
    <div id="search_results" class="row"></div>
  </div>

  <%= bootstrap_form_with model: @listing, method: :post, class: 'row g-3', url: game_path(@game), data: {turbo: false} do |f| %>
    <div class="row form-control border-0">
      <%= f.select :condition, ["New", "Used-Like New", "Used-Very Good", "Used-Good", "Used-Acceptable"] %>
    </div>
     <div class="form-control border-0 row">
       <%= f.text_area :description, :rows => 2, placeholder: "Describe the condition and what you would like to trade for" %>
    </div>
    <div class="d-grid form-control gap-2 border-0">
      <div class="d-grid col-3 mx-auto">
        <%= f.submit %>
      </div>
      <div class="d-grid col-3 mx-auto">
        <%= link_to 'Cancel', game_path(@game), class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  <% end %>
</div>
