
   <html>
    <head>
        <title></title>
    </head>
    <body>
        <!-- include user header here via views/layouts/application.html.erb conditional checking current_page?(path) -->
        <%= render "shared/header" %>
        <h3>Trade History</h3>
        <table class="table table-striped"> <!-- styling to match previously created index, can change as necessary -->
            <thead class="table table-dark">
                <tr>
                    <th>Game You Had</th>
                    <th>Their Rating</th>
                    <th>Game They Had</th>
                    <th>Your Rating</th>
                </tr>
            <thead>
            <tbody>
                <% @offers.each do |o| %>
                <% if o.status == 'accepted' %>
                    <tr>
                        <td><%= o.owner == @owner ? o.game.title : o.listing.game.title %></td>
                        <td><%= "Rating goes here" %></td>
                        <td><%= o.owner == @owner ? o.listing.game.title : o.game.title %></td>
                        <td><%= "Rating goes here" %></td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </body>
</html>