<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-3 text-center" id="picture and name">
                    <% @user = User.find(params[:profile_id]) %>
                    <%= image_tag @user.image, class: "img-fluid w-50 rounded-circle" %>
                    <br>
                    <%= @user.username %>
                </div>
                <div class="col-6" id="rating_description">
                    Rating: <%= @user.get_rating > 0 ? @user.get_rating : "none" %><br>
                    <p><%= @user.description %></p>
                    <% if @user == current_user %>
                        <%= link_to "Edit Profile", edit_user_registration_path%>
                    <% end %>
                </div>
                <div class="col-3" id="offers_trade_history">
                    <% if @user == current_user %>
                        <ul class="list-group mt-3">
                            <%= link_to 'My Listings', my_listings_path(@user.id), class: 'list-group-item list-group-item-action fs-6' %>
                            <%= link_to "My Offers", my_offers_path(@user.id), class: 'list-group-item list-group-item-action fs-6' %>
                            <%= link_to "Trade History", trade_history_path(@user.id), class: 'list-group-item list-group-item-action fs-6' %>
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
