<nav class="navbar bg-light border-bottom border-dark m-0 sticky-top">
  <div class="container-fluid">
    <%= link_to games_path do %>
      <%= image_tag 'logos/gameswap.png', class: "d-inline-block align-text-top", style: "height: 2.5rem;"%>
    <% end %>

    
    <div class="d-flex btn-group">
      <% if user_signed_in? %>
        <%= link_to href=my_listings_path(current_user) do %>
          <%= image_tag current_user.image, class: 'btn btn-outline-dark', height: '38'  %>
        <% end %>        
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-outline-dark' %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline-dark #{active_class(new_user_session_path)}" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-dark #{active_class(new_user_registration_path)}" %>
      <% end %>
    </div>

  </div>
</nav>



