<%= bootstrap_form_with url: search_games_path, method: :post do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :listing_id, params[:listing_id] %> <%# pass listing_id for new offer compliance %>
    <%= hidden_field_tag :searching_from_url, request.original_url %> <%# used to check between new offer/new game; passing because search built using partials %>
    <%= f.search_field :title_search, oninput: "this.form.requestSubmit()", label: "Game title", placeholder: "Search for a game by title..." %>
<% end %>
<div id="search_results"><%# search results displayed here %></div>
