
<div class="container text-center m-3">

    <%= search_form_for @q do |f| %>
        <div class="input-group mb-3"> 
            <%= f.search_field :title_cont, class: 'form-control form-control-md', placeholder: 'Search Games' %>
            <%= f.submit class:'btn btn-outline-secondary'%>
        </div>
    <% end %>

</div>


<div class="container-fluid">

    <div class="container-fluid row">

        <div class="col col-2">
            <%= search_form_for @q, class: do |f| %>
                <h3><strong>Genre</strong></h3>

                <div class="form-check">
                    <%= f.radio_button :tag_name_cont, '', {class: 'form-check-input'} %>
                    <%= f.label 'All', class: 'form-check-label' %>
                </div>

                <% @tags.each do |tag| %>
                    <div class="form-check">
                        <%= f.radio_button :tag_name_cont, tag.name, {class: 'form-check-input'} %>
                        <%= f.label tag.name, class: 'form-check-label' %>
                    </div>
                <% end %>

                <%= f.submit name='Apply Filter', name: '', class: 'btn btn-outline-dark' %>
            <% end %>
        </div>
    

        <!-- Games container -->
        <div class="container col text-center">
            <div class="container row row-cols-auto gap-3 m-auto ">
                <% @games.each do |game| %>
                    <div class="col m-auto">

                        <%= link_to href= game_path(game), class: 'text-decoration-none' do %>

                            <div class="card" style="width: 15rem;">
                                <%= image_tag "covers/" + game.image, class: "card-img-top", size: '175x280'   %>
                                <div class="card-body bg-light">
                                    <p class="card-text" style="font-size: 13px"><%= game.title %> </p>
                                </div>   
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <% if @games.count == 0%>
                    <p>No Games Found</p>
                <% end %>
            </div>
        </div>
    </div>

</div>