<html>
    <head>
        <title>Make an Offer</title>
    </head>
    <body>
        <%= bootstrap_form_with model: @offer, url: offers_path, method: :post, data: { turbo: false } do |f| %> <%# probably a more streamlined way to use form fields outside of a block, but this works %>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 style="text-align: center">New Offer</h1>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-5">
                        <!-- Listing -->
                        <%= image_tag "covers/" + @listing.game.image, class: 'card-img-top' %>
                        <h2><%= @listing.game.title %></h2>
                        <p>Condition: <%= @listing.condition %></p>
                        <p><%= @listing.description %></p>
                    </div>
                    <div class="col-2" align="center">
                        <div class="row h-25"><!-- formatting --></div>
                        <div class="row">
                            <%# <div class="align-self-start"> %>
                                <%= image_tag "logos/logo1.png", class: 'card-img' %>
                            <%# </div> %>
                        </div>
                        <div class="row h-50"><!-- formatting --></div>
                        <div>
                            <div class="col">
                                <%= f.submit %>
                                <%= link_to "Cancel", game_path(Listing.find(params[:listing_id]).game_id), class: 'btn btn-secondary' %>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <!-- Offer -->
                        <% if params[:game_id] %>
                            <%= image_tag "covers/" + Game.find(params[:game_id]).image, class: 'card-img-top' %>  <%# placeholder for dynamic image %>
                        <% else %>
                            <%= image_tag "covers/NO_COVER.png", class: 'card-img-top' %>
                        <% end %>
                        <!-- Choose game by title
                            <%# to-do: js implementation of autocomplete (refer to 4040 notes 11/16) %>
                            <% if params[:game_id] %> <%# if a game was selected from the list, must ensure that the title doesn't change %>
                                <% offer_game_title = Game.find(params[:game_id]).title %> <%# single lookup %>
                                <h2><%= offer_game_title %></h2>
                                <%= hidden_field_tag :title, offer_game_title %> <%# pass :title %>
                            <% else %>
                                <%= text_field_tag :title, "Exact Game Title..." %>
                            <% end %>
                            <br>
                        -->
                        <%= hidden_field_tag :title, offer_game_title %> <%# pass :title %> <!-- remove this line if uncommenting above -->
                        <%= link_to "Choose from a list", games_index_path(:listing_id => params[:listing_id]) %> <%# pass listing_id to games_index so it can redierct back to this page (using the correct listing_id that the offer is being made for) %>
                        <br><br><!-- formatting -->
                        <%= f.select :condition, %W(New #{"Used-Like New"} #{"Used-Very Good"} Used-Good Used-Acceptable) %>
                        <%= f.text_area :description, value: "This game is in mint condition..." %>
                    </div>
                </div>
            </div>
        <% end %>
    </body>
</html>
